@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.box4 {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;

    .row {
        width: 80%;
        padding: 30px;
        margin-left: 30px;

        .col-lg-4 {
            width: 28%;
            padding: 0 !important;
            margin: 20px;
            position: relative;

            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

            .slider {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                color: white;
                background-image: linear-gradient(#09203F, #637c8f);
                text-align: center;
                padding: 10px;
                h2{
                    padding-top: 35px;
                }
                b {
                    position: absolute;
                    right: 10px;
                    margin-top: -10px;
                    font-size: 35px;
                    cursor: pointer;
                }

                i {
                    font-style: normal;
                    padding: 25px;
                    margin: 15px;
                    text-align: justify;
                }

                .d-flex {
                    padding-top: 30px;

                    div {
                        background-image: linear-gradient(#C33764, #1D2671);
                        width: 60px;
                        height: 60px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        border-radius: 50%;
                        transition: 30s linear;

                        span {
                            font-size: 35px;
                        }
                    }
                    div:hover{
                        background-image: linear-gradient(#FF61D2 , #625757);
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

                       
                    }
                }
            }

            img {
                width: 100%;
            }

            .text-box {
                width: 100%;

                text-align: center;

                // padding: -15px;
                h4 {
                    font-family: "Montserrat", sans-serif;

                }

            }
        }
    }
}

@media(max-width:500px) {
    .box4 {

        .row {
            width: 95%;
            margin-left: 0px;
            padding: 0px;

            .col-lg-4 {
                width: 100%;
                margin: 40px 0 40px -6px;
                padding: 0;
            }
        }
    }
}