.navbar {
    padding-left: 50px;
    .bi-bag{
        display: none;
    }

    .navbar-brand {
        font-size: 40px;
        padding: 25px;
        font-weight: bolder;
        font-family: "Montserrat", sans-serif;
        color: white;
    }
    button {
        border: none;
        background-color: transparent;
        .bi-list {
            color: white;
        }
    }
    .navbar-collapse {
        .navbar-nav {
            .input-box{
                display: none;
            }
            .nav-item {
                a {
                    color: white !important;
                    background-color: transparent;
                    font-size: 20px;
                    padding: 0 15px 0 15px;
                    text-align: right;
                    position: relative;
                }
                a:hover {
                    color: rgb(226, 0, 177) !important;
                    transition: .3s;
                }
                .nav-link::after {
                    content: "";
                    width: 0;
                    height: 2px;
                    display: block;
                    background-color: rgb(226, 0, 177);
                    transition: .3s;
                }
                .nav-link:hover::after {
                    width: 100%;
                }
            }
        }
    }
}
@media(max-width:500px){
    .navbar{
        margin: 0;
        padding-left: 0px; 
        height: auto;
        margin: -30px 0 -60px 0;   
        background-color: white;
        color: black;
        .bi-bag{
            display: block;
            position: absolute;
            right: 80px;
            font-size: 25px;
            top: 43px;
        }
        .navbar-collapse {
            .navbar-nav {
                border-top: 2px solid grey;
                .input-box{
                    display: block;
                }
                .nav-item{
                    padding: 10px;
                    .nav-link{
                        color: black !important;
                        text-align: left;
                        font-size: 15px;
                        border-bottom: 1px solid rgb(179, 174, 174);
                    }
                    .nav-link::after {
                        content: "";
                        width: 0;
                        height: 2px;
                        display: block;
                        background-color: white;
                        transition: .3s;
                    }
                    .nav-link:hover::after {
                        width: 100%;
                    }
                }
            }
        }
        .navbar-brand{
            color: black;
            margin: 10px 0 -10px 0;
            padding: 15px;
        }
        .navbar-toggler{
            margin: 10px 15px -10px 0;       
            span{
                font-size: 30px;
                color: black;
            }
        }
    }
}