
.section-box7 {
    width: 100%;
    height: 120vh;
    overflow: hidden;

    .row {
        margin: 0 !important;
        .col-lg-6{
            padding: 0 !important;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 120vh;
        }
        #img-box {
            background-image: url("../../public/images/pic13.jpg");
            background-size: cover;
            background-position: center;
            height: 120vh;
            background-color: red;
        }
    }
}
@media(max-width:500px){
    .section-box7{
        height: auto;
        .row{
        .col-lg-6{
         padding: 0;
            height: auto;
        }
        #img-box{
            height: 400px;
        }}
    }
}