
.section-box7 {
    width: 100%;
    height: 120vh;
    overflow: hidden;

    .row {
        .col-lg-6{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 120vh;
        }

        // width: 100%;
        #img-box {
            background-image: url("../../public/images/pic13.jpg");
            background-size: cover;
            background-position: center;
     
            height: 120vh;
            background-color: red;
        }
    }
}