@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.section-box2{
    background: linear-gradient(90deg, rgb(46, 17, 38) 1.00%, rgb(40, 24, 77) 100.00%);
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    .row{
        width: 75%;
        .col-lg-4{
            span{
                font-size: 32px;
                color: rgb(147, 54, 255);
                line-height: 40px;
                height: auto;
                font-family: "Montserrat";
                font-style: normal;
            
            }
        }
    }
}
@media(max-width:500px){
    .section-box2{
        .row{
            width: 100%;
            text-align: center;
            .col-lg-4{

                span{
                    font-size: 25px;
                }
            }
        }
    }
}