@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.section-box3 {
    width: 100%;
    overflow: hidden;
    .row {
        .col-lg-3 {
            padding: 0 !important;
            position: relative;
            height: 100vh;
           
            img {
              width: 100%;
            }
            .overlayBox {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                display: flex;
                padding: 20px;
                justify-content: center;
                .innerBox {
                    width: 70%;
                    height: 80%;
                    margin-top: 50px;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    img {
                        width: 35px;
                    }
                    .innerBox1 {
                        h2{
                            color: white;
                            font-size: 22px;
                            font-weight: bolder;
                            line-height: 20px;
                            font-family: "Montserrat", sans-serif;                     
                        }
                        p{
                            color:white;
                            font-weight: 400;
                            font-size: 16px;
                            font-family: "Montserrat", sans-serif;
                        }
                        button{
                            border: none;
                            padding: 12px 20px 12px 20px;
                            background-color: black;
                            color: white;
                            font-size: 14px;
                            font-weight: normal;
                            transition: .3s linear;
                            font-family: "Montserrat", sans-serif;                          
                        }
                        button:hover{
                            background-color: white;
                            color: black;
                        }
                        .text-box{
                            margin-bottom: 40px;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:500px){
    .section-box3{
        .row{
            .col-lg-3{
                margin-bottom: -60px;
            }
        }
    }
}